$font_family_1: "Open Sans", sans-serif;
$font_family_2: "Roboto", sans-serif;

$blue: #4596ff;
$black: #222222;
$white: #fefefe;
$gray: #cccccc;
$green: #38C172;
$red: #e3342f;
$orange: #ff6600;
$yellow: #f4c816;
$pink: #E60576;
$transparent: transparent;
$noticGreen: rgb(121, 193, 125);


//Border
$borderStyle: $gray 1px solid;
$borderRadius: 2px;
$boxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$boxShadowHover: 0 3px 6px rgba(0,0,0,0.50), 0 3px 6px rgba(0,0,0,0.50);
