// Card
.card {
  border: none;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  margin: 0 0 10px 0;
  overflow: hidden;
  h2 {
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 2px;
    background-color: $blue;
    color: $white;
  }
  h3{
    margin:  0 0 0 0;
    padding: 0;
  }
  .card-body {
    padding: 0 20px 20px;
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
  }

}



