.datetime-picker {
  position: relative;
  display: inline-block;
  color: #333;
}

.datetime-picker * {
  box-sizing: border-box;
}

.datetime-picker input {
  width: 238px;
  padding: 5px 10px;
  height: 30px;
  outline: 0 none;
  border: 1px solid #ccc;
  font-size: 13px;
}

.datetime-picker .picker-wrap {
  position: absolute;
  z-index: 1000;
  width: 238px;
  height: 280px;
  margin-top: 2px;
  background-color: #fff;
  box-shadow: 0 0 6px #ccc;
}

.datetime-picker table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  font-size: 13px;
}

.datetime-picker tr {
  height: 34px;
  border: 0 none;
}

.datetime-picker th, .datetime-picker td {
  overflow: hidden;
  user-select: none;
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0 none;
  line-height: 34px;
  text-align: center;
}

.datetime-picker td {
  cursor: pointer;
}

.datetime-picker td:hover {
  background-color: pink;
}

.datetime-picker .date-disabled:not(.date-active) {
  cursor: not-allowed;
  color: #ccc;
}

.datetime-picker .date-disabled:not(.date-active):hover {
  background-color: transparent;
}

.datetime-picker .date-pass, .datetime-picker .date-future {
  color: #aaa;
}

.datetime-picker .date-active,
.datetime-picker .date-active:hover {
  background-color: #ececec;
  color: #3bb4f2;
}

.datetime-picker .date-head {
  background-color: #3bb4f2;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.datetime-picker .date-days {
  color: #3bb4f2;
  font-size: 14px;
}

.datetime-picker .show-year {
  display: inline-block;
  min-width: 66px;
}

.datetime-picker .show-month {
  display: inline-block;
  min-width: 32px;
}

.datetime-picker .btn-prev,
.datetime-picker .btn-next {
  cursor: pointer;
  padding: 8px 11px;
}

.datetime-picker .btn-prev::after,
.datetime-picker .btn-next::after {
  position: relative;
  content: "";
  left: 2px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(-45deg);
}

.datetime-picker .btn-next::after {
  left: -2px;
  border: 0 none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.datetime-picker .btn-prev:hover,
.datetime-picker .btn-next:hover {
  background: rgba(16, 160, 234, 0.5);
}
