.passbook-action-nav,
.action-nav {
  border-bottom: 1px solid $black;
  padding: 3px 0;
  margin: 10px 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      margin-left: 5px;
    }
  }
}
.passbook-action-nav{
  border: none;
  a{
    cursor: pointer;
  }
}
