.overview {
  border-radius: $borderRadius;
  overflow: hidden;
  background: $white;
  box-shadow: $boxShadow;
  padding: 0 0 10px 0;
  h2 {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 20px;
    }
  }
}

.stats {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border-radius: 0 0 $borderRadius $borderRadius;
  span {
    display: block;
    text-align: center;
  }
  li {
    padding: 5px;
  }
  li.revenue {
    grid-area: 1 / 1 / 2 / 2;
    border-right: $borderStyle;
    span:nth-child(2) {
      color: $green;
      font-weight: 700;
    }
  }

  li.expenditure {
    grid-area: 1 / 2 / 2 / 3;
    span:nth-child(2) {
      color: $red;
      font-weight: 700;
    }
  }

  li.total {
    grid-area: 2 / 1 / 3 / 3;
    border-top: $borderStyle;
    span:nth-child(2) {
      color: $black;
      font-weight: 700;
    }
  }

}

//Hover for Dashboard
.accounts-list .overview:hover,
.passbooks-list > li:hover,
.category-list > li:hover {
  box-shadow: $boxShadowHover;
  transform: scale(1.01);
}

.accounts,
.passbooks {
  > ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
  }
}

.passbook-stats {
  list-style: none;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  li:first-child {
    text-align: left;
  }
  li:last-child {
    text-align: right;
  }
  span {
    display: block;
  }
}

//Account + Category Sidebar/Info
.sidebar {
  .card > h3 {
    margin: 5px 10px 10px;
    border-bottom: 1px solid $black;
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .statistic {
    list-style: none;
    margin: 0 0 10px 0;
    display: grid;
    grid-gap: 10px;
    padding: 0 20px;
  }
}

//Profile
.profile-layout {
  margin: 20px 0 0;
  .profile-navigation {
    list-style: none;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-radius: 2px;
    border-bottom: 1px solid;
    margin: 0 0 20px;
    li {
      cursor: pointer;
      text-align: center;
      border: 1px solid #4596ff;
      border-radius: 2px;
      padding: 3px 10px;
      background: $blue;
      color: $white;
    }
    li:hover {
      color: $black;
    }
  }
}

@media (min-width: 700px) {
  .profile-layout {
    display: grid;
    grid-template-columns: auto minmax(560px,auto);
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: center;

    .profile-navigation {
      display: grid;
      align-self: start;
      justify-self: end;
      grid-gap: 5px;
      margin: 0;
      border: none;
      li {
      }
    }
  }
}



.user-profile {
  border: 1px solid $gray;
  border-radius: $borderRadius;
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
  h2 {
    padding: 0;
    margin: 0 0 10px 0;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 5px 10px;
  }
  li.options {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    i {
      margin-left: 10px;
    }
  }
  a {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

//Orders
.user-orders {
  max-width: 650px;
  margin: 0 auto;
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid $black;
  margin: 0 0 10px;
  p {
    margin: 0;
  }
  .invoice-nr {
    text-align: right;
  }
}

@media (max-width: 540px) {
  .order-header {
    span {
      display: block;
    }
  }
}

.user-order-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.order-amount {
  justify-self: center;
  align-self: end;
  li{
    font-size: 14px;
    text-align: right;
  }
  li:last-child{
    border-top: 1px solid $gray;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 3px double $black;
  }
}

.order-product-info {
  justify-content: center;
  h4 {
    font-size: 16px;
    margin: 0 0 5px;
    border-bottom: 1px solid $gray;
    display: block;
    text-align: center;
  }
  .description {
    display: grid;
    justify-content: center;
    font-size: 12px;
  }
}

.user-orders-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .item {
    border-bottom: 1px solid $gray;
    padding: 20px;

  }

  .order-info {
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
    //grid-template-columns: repeat(3, auto);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

    }
  }
  .order-client-info span {
    display: block;
  }
}

@media (min-width: 540px) {
  .user-orders-list {
    .order-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .order-amount {
    justify-self: end;
    align-self: end;
  }
}
//Partner

.user-partner-info{
  li{
    text-align: center;
    span{
      display: block;
    }
    .share-key{
      color: $blue;
      background-color: #d8d8d8;
      padding: 10px;
      border-radius: $borderRadius;
      font-weight: 700;
    }
  }
  .revenue{
    border-bottom: 1px solid $gray;
    > .highlight{
      font-size: 20px;
    }
  }
}

