.passbooks {
  .passbooks-list{
    h3{
      margin: 0 0 10px 0;
      text-align: center;
      border-bottom: 1px solid $black;
    }
    > li{
      padding: 10px;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      margin: 0 0 10px 0;
      background-color: $white;
    }
  }

}
